


.chat {

  h1 {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
  }

  .chat-container {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .sidebar {
    overflow: auto;
    padding: 20px;
    height: 500px;
    background: #FCFCFC;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;


    .sidebar-room {

      & > * {
        margin-bottom: 20px;
      }

      &__name {

        &.active {
          box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
        }

        color: black;
        padding: 15px;
        border-radius: 10px;

        &:hover {
          background: #ececec;
          box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
          cursor: pointer;
        }

        &:active {
          background: #FFFFFF;
          box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
        }

        span {
          font-weight: bold;
        }
      }

      &__channel {

        padding: 15px;
        border: 1px solid #e5e5e5;
        border-radius: 12px;

        p {
          padding: 15px;
          border-radius: 10px;

          &:hover {
            background: #ececec;
            box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
            cursor: pointer;
          }

          &:active {
            background: #FFFFFF;
            box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
          }
        }

        ul {
          list-style: none;


          li {
            font-size: 14px;
            color: #909090;
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;

            &:hover {
              background: #ececec;
              box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
              cursor: pointer;
            }

            &:active {
              background: #FFFFFF;
              box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
            }

            span {
              background: darkseagreen;
              height: 10px;
              width: 10px;
              display: block;
              border-radius: 50px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .content {
    padding: 20px;
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.09);
    border-radius: 15px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-name {
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #000000;
      margin-bottom: 15px;
    }

    &-exit {
      padding: 10px 20px 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      border-radius: 10px;
      background: #f1f1f1;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background: darken(#f1f1f1, 3%);
      }

      &:active {
        background: darken(#f1f1f1, 7%);
      }
    }

    &-separator {
      height: 2px;
      background: #dadada;
      margin-bottom: 15px;
    }

    &-messages {
      height: 420px;
      overflow: auto;
      margin-bottom: 20px;

      &__item {
        margin-bottom: 14px;
        display: flex;

        span {
          margin-right: 15px;
        }

        &-text {
          color: black;
          padding: 15px;
          background: rgba(0, 0, 0, 0.05);
          border-radius: 15px;
        }

      }
    }

    &-input {
      display: flex;
      height: 40px;

      textarea {
        outline: none;
        margin-right: 15px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid lightgray;
        padding: 10px;
      }

      button {
        padding: 10px;
        border-radius: 10px;
        background: cornflowerblue;
        color: white;
        border: none;

        &:hover {
          background: darken(cornflowerblue, 5%);
        }

        &:active {
          background: lighten(black, 15%);
        }
      }
    }
  }
}


@media screen and (max-width: 600px) {

  .chat {
    &-container {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .content {
      width: 100%;

      &-messages {
        height: 550px;
      }
    }

    .sidebar {
      display: none;
    }

    .sidebar-small {
      display: flex;
      overflow: auto;
      width: 100%;
      padding: 20px;
      background: #FCFCFC;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      justify-content: space-between;

      &__avatars {
        display: flex;

        div {
          margin-right: 5px;
        }
      }
    }
  }
}
