.join-block {
  /* Rectangle 2 */
  padding: 40px;
  background: #FFFFFF;
  /* drop1 */
  box-shadow: 0 0 39px rgba(0, 0, 0, 0.09);
  border-radius: 25px;

  h1 {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    margin-bottom: 100px;

    span {
      font-size: 48px;
    }
  }

  .input-form {
    display: flex;
    flex-direction: column;


    :focus {
      outline: none;
      border: 2px solid black;
      transition: ease-in-out 0.2s;
    }

    input {
      padding: 15px;
      background: #F8F8F8;
      border: 2px solid #E2E2E2;
      box-sizing: border-box;
      border-radius: 15px;
      margin-bottom: 30px;
      transition: ease-in-out 0.1s;
      font-size: 18px;
    }

    label {
      margin-bottom: 20px;
    }
  }

  button {
    padding: 15px 30px 15px 30px;
    background: #000000;
    border-radius: 15px;
    color: white;
    font-size: 18px;

    &:hover {
      background: lighten(black, 15%);
    }

    &:active {
      background: lighten(black, 30%);
    }
  }
}

@media screen and (max-width: 500px) {
  .join-block {
    box-shadow: none;
  }
}